@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  font-family: quicksand;
  /* background-color: rgb(243, 243, 243); */
}

.header {
  color: orangered;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid lightgray;
}

.header .count {
  margin-left: auto;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 2px 5px lightgrey;
  padding: 10px;
  border-radius: 7px;
}

.content h2 {
  margin: 5px;
}

.content p {
  margin: 5px;
}

.create {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.create button {
  background-color: orangered;
  color: white;
  border-radius: 10px;
  border-style: none;
  text-align: center;
  padding: 10px 15px;
}

.create input {
  border-style: none;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
