@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  font-family: quicksand;
  /* background-color: rgb(243, 243, 243); */
}

.header {
  color: orangered;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid lightgray;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 2px 5px lightgrey;
  padding: 10px;
  border-radius: 7px;
}

.content h2 {
  margin: 5px;
}

.content p {
  margin: 5px;
}

.add {
  margin-left: auto;
}

.content .notes {
  margin-left: 48px;
}

.done {
  text-decoration: line-through;
  color: grey;
}

.toggle-show-done {
  display: flex;
  margin: 20px auto;
  padding: 10px 18px;
  border-radius: 7px;
  border-style: none;
  background-color: grey;
  color: white;
}
